@import url("https://use.typekit.net/mze8fyu.css");

:root {
    --bg: white;
    --txt: black;
    --no: rgb(170,170,170);
}

* {
    transition: ease-in-out 0.3s;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
}

i {
    transition: none;
}

a {
    color: inherit;
    cursor: pointer;
    transition: none;
    text-decoration-thickness: 1.5px;
}

a:hover {
    cursor: pointer;
}

#title {
    font-family: 'Arial Narrow';
    letter-spacing: -0.4vw;
    font-size: 9vw;
    width: fit-content;
    display: inline-block;
    margin-top: -1.5vw;
}

#intro {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: rgb(50, 143, 19);
    font-size: 14px;
    width: 32vw;
    display: inline-block;
    margin-left: 1.5vw;
    margin-top: 0.2vw;
    vertical-align: top;
}

.catjail {
    width: calc(94vw / 15);
    display: inline-block;
}

.gif {
    width: 70%;
}

.strike {
    text-decoration: line-through;
}

.demo {
    font-family: 'Monaco';
    font-weight: bold;
    font-size: 12px;
    width: fit-content;
    display: inline-block;
    position: relative;
}

#screen {
    display: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: white;
}



/* Main */
.menu {
    width: fit-content;
    display: inline-block;
    vertical-align: top;
    margin-top: 1vw;
    margin-right: 2vw;
    /* border-right: 2px solid black; */
}

#menu {
    position: sticky;
    top: 0;
    font-size: 1.2vw;
    color: blue;
    padding-right: 0.5vw;
    border: 2px solid black;
    cursor: pointer;
    width: fit-content;
}

#menu:hover {
    cursor: pointer;
}

#ad {
    position: sticky;
    margin-top: 10px;
    /* top: calc(20px + 10px); */
    padding: 0.25vw;
    border: 2px solid rgba(0,0,0,0.2);
}

#ad2 {
    position: sticky;
    width: 11.95vw;
    /* top: calc(20px + 10px); */
    padding: 0.25vw;
    border: 2px solid rgba(0,0,0,0.2);
}

ol {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 2.2vw;
}

#main {
    width: calc(96vw - 235px);
    display: inline-block;
    vertical-align: top;
    margin-top: 1vw;
}

.content {
    width: 80%;
    display: inline-block;
}

.control {
    width: 16.5%;
    display: inline-block;
    vertical-align: top;
    padding-left: 3%;
}




/* Demo */
.stretch {
    width: calc(100% - 20px);
    background-color: olivedrab;
    padding:10px;
}

#stretcht {
    font-family: "Arial Narrow";
    letter-spacing: -0.2vw;
    width: fit-content;
    font-size: 6vw;
    transform: scaleX(0.3);
    transform-origin: top center;
    display: block;
    margin: auto;
}

.skew {
    width: calc(100% - 20px);
    background-color: rgb(33, 255, 244);
    padding:10px;
}

#skewt {
    font-family: "Arial Narrow";
    letter-spacing: -0.2vw;
    width: fit-content;
    font-size: 6vw;
    transform: skew(-30deg);
    display: block;
    margin: auto;
}

.hang {
    width: calc(100% - 20px);
    background-color: darkorange;
    padding:10px;
}

#hangt1 {
    font-family: "Arial Narrow";
    letter-spacing: -0.2vw;
    width: fit-content;
    font-size: 6vw;
    line-height: 5.8vw;
    display: block;
    margin: auto;
}

#hangt2 {
    font-family: "Arial Narrow";
    letter-spacing: -0.2vw;
    width: fit-content;
    font-size: 6vw;
    line-height: 5.8vw;
    display: block;
    margin: auto;
}

.hyphen {
    width: calc(100% - 20px);
    background-color:cornflowerblue;
    padding:10px;
}

#hyphent {
    font-family: "Arial Narrow";
    letter-spacing: -0.2vw;
    width: fit-content;
    font-size: 5vw;
    line-height: 5vw;
    display: block;
    margin: auto;
}

.poor {
    width: calc(100% - 20px);
    background-color:greenyellow;
    padding:10px;
}

#poort {
    font-family: "comic sans ms";
    width: fit-content;
    font-size: 5vw;
    line-height: 5vw;
    display: block;
    margin: auto;
}

.width {
    width: calc(100% - 20px);
    background-color:darkgrey;
    padding:10px;
}

.widtht {
    width: 100%;
    font-family: "Arial Narrow";
    width: fit-content;
    font-size: 20px;
    line-height: 24px;
    display: block;
    margin: auto;
}

.caps {
    width: calc(100% - 20px);
    background-color:gold;
    padding:10px;
}

.capst {
    font-family: "arial narrow";
    width: fit-content;
    font-size: 20px;
    line-height: 24px;
    width: 50%;
    display: block;
    margin: auto;
    text-transform: uppercase;
}

.display {
    width: calc(100% - 20px);
    background-color:rgb(185, 110, 255);
    padding:10px;
}

.displayt {
    font-family: freight-display-pro, serif;
    width: fit-content;
    font-size: 20px;
    line-height: 24px;
    width: 50%;
    display: block;
    margin: auto;
}

.paragraph {
    width: calc(100% - 20px);
    background-color:rgb(127, 255, 189);
    padding:10px;
}

.paragrapht {
    font-family: arial narrow;
    width: fit-content;
    font-size: 20px;
    line-height: 24px;
    width: 50%;
    display: block;
    margin: auto;
}

.tracking {
    width: calc(100% - 20px);
    background-color:hotpink;
    padding:10px;
}

.trackingt {
    font-family: arial narrow;
    width: fit-content;
    font-size: 20px;
    line-height: 24px;
    width: 50%;
    display: block;
    margin: auto;
}




#final, #final a {
    pointer-events: none;
    color: var(--no);
    text-decoration: none;
}

#title2 {
    font-family: 'Arial Narrow';
    letter-spacing: -7px;
    font-size: 160px;
    width: fit-content;
    display: inline-block;
    margin-top: -1.5vw;
    transform-origin: top left;
}

.text {
    width: calc(100% - 20px);
}


@media (max-width: 1200px) {
    #abandon1 {
        display: none;
    }
  }

@media (max-height: 680px), screen and (orientation: portrait) {
    #screen {
        display: block;
    }

    body {
        overflow: hidden;
        margin: 0px;
    }
  }